@media screen and (max-width: 1320px) {
    /* section 1 */
    .section-1-content {
        width:95%;
    }
    /* section 2 */
    .s-2-right-infos {
        width: 550px;
        top: 50px;
        left: 10%;
    }
    .section-2-left-content {
        padding: 50px 140px 150px 150px;
    }
    .section-2-tablette {
        width:300px;
    }
    /* section 3 */
    .section-3-content {
        width:100%;
    }
    /* footer */
    .footer-content {
        width: 90%;
    }
}
@media screen and (max-width: 1100px) {
    /* section 1 */
    .section-1-content {
        flex-wrap: wrap;
        text-align: center;
    }
    .section-1-content h1 {
        font-size: 50px;
    }
    .section-1-right img {
        width: 300px;
    }
    /* section 2 */
    .section-2-left {
        height: auto;
    }
    .section-2-left-content {
        padding: 40px;
    }
    .s-2-right-infos-block p {
        display: none;
    }
    .s-2-right-infos {
        width: 550px;
        top: 50px;
        left: 0;
    }
    .s-2-right-infos-block div {
        width: 40px;
        height: 40px;
    }
    .s-2-right-infos-block h3 {
        font-size: 20px;
        word-break: break-all;
    }
    /* section 3 */
    #section-3 {
        margin: 0 auto;
    }
    .section-3-left {
        margin: 180px 50px;
        padding-right: 50px;
    }
    .section-3-right-carre {
        width: 400px;
        height: 320px;
    }
    .section-3-right-carre img {
        width: 380px;
    }
    /* section 4 */
    .section-4-left {
        padding: 30px;
        height: auto;
    }
    #section-4 form {
        left: 60%;
    }
    #section-4 form input {
        width: 300px;
    }
    textarea {
        width : 300px;
    }
}
@media screen and (max-width: 1000px) {
    /* section 2 */
    .section-2-tablette {
        display: none;
    }
    .s-2-right-infos {
        width: auto;
    }
    .s-2-right-infos-block {
        padding: 10px;
        flex-basis: 100%;
    }

}
@media screen and (max-width: 800px) {
    /* section 1 */
    .section-1-content {
        flex-direction: column;
    }
    /* section 2 */
    #section-2 {
        flex-direction: column;
    }
    .section-2-left {
        width:100%;
        height: auto;
    }
    .section-2-right {
        width:100%;
    }
    .s-2-right-infos-block {
        flex-basis: 50%;
    }
    /* section 3 */
    .section-3-content {
        flex-direction: column;
    }
    .section-3-left {
        flex-basis:100%;
        margin: 30px;
        margin-top: 360px;
        padding: 0;
        text-align: center;
    }
    .sep-media-s3 {
        margin: 20px auto 0;
    }
    .section-3-left a {
        margin: 0 auto;
    }
    .section-3-right-carre {
        width: 200px;
        height: 150px;
    }

    .section-3-right-carre img {
        width: 250px;
    }
    /* section 4 */
    #section-4 {
        margin-top: 50px;
        flex-direction: column;
    }
    .section-4-right {
        display: none;
    }
    .section-4-left {
        width: 100%;
        text-align: center;
    }
    .section-4-left a {
        margin: 0 auto;
    }
    #section-4 form {
        position: initial;
        transform: none;
        margin: 30px auto;  
    }
    #section-4 form input {
        border:1px solid black;
    }
    textarea {
        border:1px solid black;
    } 
}